body {
    padding: 50px;
    background-image: url("forest.jpg");
}
div {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.178);
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.493);
}
img {
    display: block;
    margin: auto;
    height: 150px;
    padding: 10px;
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font: normal 30px Arial;
}
input#entrar {
    color:hsl(0, 0%, 100%);
    background-color: rgb(0, 0, 0);
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font: normal 20px Arial ;
    box-shadow: 5px 5px 10px black;

}
input {
    display: block;
    margin: auto;
    padding: 5px;
}
footer {
    text-align: center;
    padding: 2px;
}
