@charset "UTF-8";

body {
    padding: 50px;
    background-image: url("forest.jpg");
}
h1 {
    font: normal 40px Arial;
    margin-top: auto;
    color: black;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.178);
}
p {
    font: normal 15px Arial;
}
div {
    background-color:  rgba(0, 0, 0, 0.178);
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    width: 500px;
    height: 470px;
    border-radius: 5px 5px 10px;
    margin: auto;
    text-align: center;
    padding: 50px;
}
input#cadastrar {
    background-color: black;
    color: white;
    width: 250px;
    height: 70px;
    font: normal 30px Arial;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}
input#cadastrar:hover {
    background-color: rgba(0, 0, 0, 0.61);
    transform: scale(1.1);
}
input#radio {
    float: right;
}
input#caixa {
    width: 200px;
    font: normal 15px Arial;
}
input {
    padding: 10px;
    width: 150px;
}
footer {
    text-align: center;
    font: Arial;
}