body {
    padding: 50px;
    background-image: url("forest.jpg");
}
h1 {
    font: normal 40px Arial;
    margin-top: auto;
}
section {
    background-color: black;
    color: white;
    width: 50%;
    height: 500px;
    border-radius: 5px 5px 10px;
    margin: auto;
    text-align: center;
}
div {
    padding: 50px;
}
input#button {
    background-color: rgb(73, 73, 73);
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font: normal 20px Arial ; 
}
input {
    padding: 10px;
}
footer {
    text-align: center;
    font: Arial;
}